@model Wasit.Services.ViewModels.City.UpdateCityViewModel

@{
    ViewData["Title"] = "تعديل مدينة";
}

<form class="add-state" asp-action="Update" method="post">
    <p class="p-color font-small mb-4 font-gray title">الرجاء املئ البيانات التالية</p>

    <div class="col-12 mb-4">
        <label asp-for="NameAr" class="input-label">اسم المدينة باللغة العربية</label>
        <input asp-for="NameAr" value="@Model.NameAr" placeholder="اسم المدينة باللغة العربية" class="site-input">
        <span asp-validation-for="NameAr" class="text-danger"></span>
    </div>

    <div class="col-12 mb-4">
        <label asp-for="NameEn" class="input-label">اسم المدينة باللغة الانجليزية</label>
        <input asp-for="NameEn" value="@Model.NameEn" placeholder="اسم المدينة باللغة الانجليزية" class="site-input">
        <span asp-validation-for="NameEn" class="text-danger"></span>
    </div>
    <button type="submit" class="secondary-btn w-100 py-3">تعديل</button>
</form>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}