@import "variables" , "classes" , "mixins";

@font-face {
    font-family: "main-font";
    src: url(../fonts/alfont_com_AlFont_com_URW-DIN-Arabic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "main-font";
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: $secondary-color;
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background-color: lightgrey;
    border-radius: 15px;
}
::selection{
    background-color: $secondary-color;
    color: white;
}
::placeholder{
    transition:all .8s cubic-bezier(0.5, -0.7, 0.15, 1.55) !important;
    color:gray;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=checkbox]{
    width: 18px;
    height: 18px;
    accent-color:#b68e39;
    border-radius: 5px;
}
p{
    margin: 0;
}
.main{
    background-color: $main-color;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.side-menu{
    transition:  all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
    padding: 30px 20px;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9;
    .logo{
        border-radius: 5px;
        background-color: $white-color;
        margin-bottom: 3px;
        .logo-title{
            color: $main-color;
        }
    }
    .tabs{
        height: 90%;
        overflow: auto;
        background-color: $white-color;
        border-radius: 5px;
        .nav-item{
            margin-bottom: 5px;
            cursor: pointer;
            position: relative;
            .nav-link{
                background-color: $light-gray;
                z-index: 5;
                border: none;
                position: relative;
                color: $text-color;
                svg{
                    color: gray;
                    }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    background-color: $main-color;
                    z-index: -1;
                    transition: .3s;
                }
                &:hover{
                    color: $white-color;
                    &.nav-link::before{
                        width: 100%;
                    }
                    .arrow{
                        color: $white-color;
                    }
                }
            }
            .active{
                background-color: $main-color;
                margin: 5px 0;
                color: $white-color ;
                svg{
                    color: $white-color;
                }
            }
        }
    }
    .child-list{
        padding: 5px 20px;
        ul{
            border: none;
            .nav-item{
                .c-link , .gc-link{
                    text-decoration: none;
                    color: $text-color;
                    font-size: 14px;
                    font-weight: bold;
                    display: inline-block;
                    width: 100%;
                    transition :.3s;
                    &:hover{
                        translate:-5px;
                        color: $secondary-color;
                        .arrow{
                            color: $secondary-color;
                        }
                    }
                }
                .arrow , .gc-arrow{
                    color: gray;
                    font-size: 14px;
                    margin: 0 1px -2px;
                }
            }
            .active{
                background-color: white !important;
                margin-top: 0 !important;
                .c-link{
                    color: $secondary-color;
                }
                .arrow{
                    color: $secondary-color;
                }
            }
        }
    }
    .grandchild-list{
        padding: 5px 10px;
        ul{
            border: none;
            .nav-item{
                &:hover{
                    .gc-link{
                        color: $main-color;
                    }
                    .gc-arrow{
                        color: $main-color;
                    }
                }
            }
            .active{
                background-color: white !important;
                margin-top: 0 !important;
                .gc-link{
                    color: $main-color;
                }
                .gc-arrow{
                    color: $main-color !important;
                }
            }
        }
    }
}
    //open and close side menu
    .toggle-side-menu{
    transform: translateX(100%);
}

.toggle-main-container{
    margin-right: 0 !important;
    border-radius: unset !important;
}

.main-container{
    margin-right:350px;
    transition:  all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
    height: 100vh;
    background-color: $white-color;
    border-radius: 0 30px 0 0; 
    .main-nav{
        height: 113px;
        transition:all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
        border-bottom: 3px solid $main-color;
        .right{
            .title{
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .menu{
                z-index: 70;
                .fa-indent{
                    font-size: 30px;
                    cursor: pointer;
                    margin: 0 15px;
                    color: black;
                    transition: all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
                }
            }
                }
                .rotate{
                    svg{
                        transform: rotate(-180deg);
                    }
                }
        .left{
            padding: 0 20px;
            .notification{
                .fa-bell{
                    font-size: 30px;
                    cursor: pointer;
                    margin: 0 15px;
                    color: black;
                    &:hover{
                        transform-origin: top;
                        animation: bell .3s normal forwards ease-in-out;
                        animation-iteration-count: 2;
                    }
                }
            }
            .profile{
                padding: 10px;
                cursor: pointer;
                .name{
                    font-size: 15px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
                .position{
                    font-size: 13px;
                    color: gray;
                }
                &:hover{
                    background-color: rgba( lightgray , .2);
                }
            }
        }
    }
    .main-section{
        background-color: $white-color;
        height: 80vh;
        overflow-y: scroll;
        padding: 30px;
    }
    .dt-container{
        .row{
            display: block;
        }
    }
}
.delete-btn{
    @include site-btn( rgba(red,.2) , red , rgba(red,.2) , 12px , red);
    &:hover{
        animation: delete-btn .2s normal forwards ease-in-out infinite;
        animation-iteration-count: 2;
    }
}
.edit-btn{
    @include site-btn( rgba($main-color,.2) , $main-color , rgba($main-color,.2) , 12px , $main-color);
}
.sent-btn{
    @include site-btn( rgba($secondary-color,.2) , $secondary-color , rgba($secondary-color,.2) , 12px , $secondary-color);
}
.main-btn{
    @include site-btn($secondary-color , $white-color , $secondary-color ,12px $secondary-color ,$secondary-color)
}
.secondary-btn{
    @include site-btn($main-color , $white-color , $main-color ,12px $main-color ,$main-color)
}
.accept-btn{
    @include site-btn( rgba(green,.2) , green , rgba(green,.2) , 12px , green);
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: cover;
}
.loader-container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $white-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
    .loader{
        display:flex;
        height:100vh;
        width:100%;
        justify-content:center;
        align-items:center;
    }
    .loading-wave {
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .loading-bar {
        width: 20px;
        height: 10px;
        margin: 0 5px;
        background-color: $main-color;
        border-radius: 5px;
        animation: loading-wave-animation 1s ease-in-out infinite;
    }
    .loading-bar:nth-child(2) {
        animation-delay: 0.1s;
    }
    .loading-bar:nth-child(3) {
        animation-delay: 0.2s;
    }
    .loading-bar:nth-child(4) {
        animation-delay: 0.3s;
    }
}
.notification-list{
    .notification-item{
        padding: 20px 10px;
        cursor: pointer;
        .info{
            .text{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .time{
                color: $secondary-color;
                font-weight: bold;
            }
        }
        .delete{
            border-radius: 50%;
            background-color: rgba(red,.2);
            color: red;
            padding:3px 10px;
            font-size: 15px;
            margin-right: auto;
            transition: .5s;
            border: 1px solid rgba(red, .2);
            &:hover{
                background-color:$white-color;
            }
        }
        &:not(:last-child){
            border-bottom: 1px solid lightgray;
        }
        &:hover{
            background-color: rgba( lightgray , .2);
        }
    }
}
.table-head{
    background-color: $main-color;
    color: white;
}
.table-row{
    background-color: $white-color;
    border-bottom: 1px solid lightgray;
    td{
        text-align: center !important;
    }
}
.notifi-switch {
    border-color:#F9F9F9 !important;
    input{
        cursor: pointer;
        box-shadow: none !important;
        height: 20px;
        width: 40px !important;
        &:checked{
            background-color:#BE9030;
            border: #BE9030;
            }
            &:focus {
            border-color: #BE9030;
        }
    }
}
.dt-length {
    display: none !important;
}
.dt-search{
    text-align: center !important;
    label{
        display: none;
    }
}
.dt-search input{
    width: 60% !important;
    margin-bottom: 15px !important;
    border: 1px solid lightgray;
    padding: 7px 30px 7px 30px;
    font-size: 13px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16"><path fill="%23ccc" d="M505 442.7L405.3 343c28.4-34.9 45.7-79.4 45.7-127.3C451 96.2 355.8 1 236.5 1 117.2 1 22 96.2 22 215.7c0 119.3 95.2 214.5 214.5 214.5 47.9 0 92.4-17.3 127.3-45.7l99.7 99.7c5.9 5.9 13.6 8.8 21.3 8.8 7.8 0 15.4-2.9 21.3-8.8 11.7-11.8 11.7-30.9 0-42.6zM236.5 381c-91.2 0-165.2-74-165.2-165.2S145.3 50.6 236.5 50.6s165.2 74 165.2 165.2S327.7 381 236.5 381z"/></svg>') no-repeat 10px center;
    background-position: bottom 8px right 10px;
    &:focus{
        box-shadow: none;
        outline: none;
        border:1px solid $secondary-color;
        &::placeholder{
            transform: translateX(115%);
        }
    }
}
.dt-paging {
    margin-top: 30px !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    margin-right: .5em;
    margin-left: .5em;
}
.active>.page-link, .page-link {
    color:$main-color;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    background-color: $secondary-color;
    border-radius: unset;
    border: none;
    box-shadow: none;
    color: white;
    &:hover{
        color: white;
    }
}
.page-item .page-link{
    box-shadow: none;
}
.page-item.active{
    background-color: $main-color;
    .page-link{
        color: white;
    }
}
table.dataTable.nowrap td {
    padding: 20px;
}
div.dt-container div.dt-paging ul.pagination{
    justify-content: flex-end;
}
.add{
    padding:15px 30px;
}
.nav-filter {
    .scroll-nav {
        background-color: rgba($main-color,.1);
        flex-wrap: nowrap;
        overflow-x: scroll;
        transition: .5s;
        padding: 5px;
        li {
            margin-bottom: 5px;
            border-radius: 5px;
        }
        a{
            color: $main-color;
            font-size: 16px;
        }
    }
    .li-active {
        background-color: white;
        a{
            font-weight: bold;
        }
    }
}
.filter-nav , .filter-nav-2{
    margin-bottom: 20px;
    .list-group-item{
        width: 165px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f0ece7;
        margin: 5px;
        text-align: center;
        padding: 8px 3px;
        border: none;
        font-size: 12px;
        font-weight: bold;
        color:$text-color;
        border:1px solid #f0ece7;
        &:hover{
            border:1px solid $secondary-color
        }
    };
};
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}
.list-group-item+.list-group-item.active {
    margin-top: calc(5* var(--bs-list-group-border-width));
    border-top-width: var(--bs-list-group-border-width);
}
.input-wrapper{
    position: relative;
    width: 60%;
    margin: auto;
    .filter-icon{
        position:absolute;
        top: 8%;
        left: 1%;
    }
    input{
        width: 100% !important;
    }
}
.filter-icon img{
    width: 25px;
    cursor: pointer;
}
//modal style
.modal-dialog{
    max-width: 520px;
    .modal-content {
        border-radius: 0.7rem;
        background-color: #FCFCFC;
        .modal-header {
            border-bottom: none;
            flex-direction: column-reverse ;
            align-items: end;
            button{
                font-size: 10px;
                box-shadow: none;
            }
            h5{
                margin: auto;
                font-size: 16px;
            }
        }
        .modal-body {
            padding-top: 0;
            h6{
                font-size: 13px;
                font-weight: bold;
            }
            h5{
                font-size: 13px;
            }
            font-size: 12px;
            .owner {
                border-bottom: 1px solid #f0ece7;
            }
            .modal-input {
                width: 48%;
            }
            .location-radios {
                margin: auto;
            }
            
            .dates{
                input{
                    border: none;
                    width: 220px;
                    color: gray;
                    outline: none;
                    margin: 0 5px;
                }
                .dates-input{
                    margin-top: 10px;
                padding: 10px;
                border: 1px solid #EEEEEE;
                background-color: white;
                }
            }
        }
    }
    .modal-footer {
        border-top: none;
        font-size: 14px;
    }
}
//select2 style 

.select2-container {
    width: 100% !important;
    font-size: 14px !important;
}
.select2-container--open {
    z-index: 9999999
}
.select2-selection--single{
    height: 1000% !important;
    padding: 7px;
}
.select2-selection__rendered {
    padding-right: 0px !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    &:active{
        border-color: $secondary-color;
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid $main-color;
    outline: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $main-color;
    color: white;
}
.select2-container--open .select2-dropdown--below {
    box-shadow: 5px 5px 10px 0 gray;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url(https://cdn4.iconfinder.com/data/icons/user-interface-174/32/UIF-76-512.png);
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 25px !important;
    width: 25px !important;
    margin-top: -3px;
    // margin: auto !important;
    // top: auto !important;
    // left: auto !important;
}

.add-state{
    max-width: 400px;
    .title{
        color: $text-color;
    }
    .status{
        margin-bottom:14pc;
    }
}
.price-input{
    position: relative;
    .rs{
        position:absolute;
        left: 10px;
        top: 42%;
        font-size: 14px;
        font-weight: bold;
        color: #591B32;
    }
}
.rs{
    color: #591B32;
}
.reject-color{
    color: #591B32;
}
.orders{
    max-width: 800px;
}
//upload img

.upload-preview {
    position: relative;
    border: 2px solid $main-color;
    margin:8px;
    border-radius: 10px;
    .remove{
        background-color: white;
        border-radius: 50% !important;
        height: 15px;
        width: 15px;
        z-index: 7;
        position: absolute;
        left: 5px;
        top: 3px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        padding: 5px;
        font-size: 10px;
        border: none;
        &:hover{
            scale: 1.1;
        }
    }
    a {
        display: block;
    }
    img {
        width: 105px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px;
    }
}
.product-carousel{
    margin: 20px 0;
    img{
        height: 250px;
        object-fit: cover;
        @media (max-width:$screen-sm) {
            height: 250px;
        }
    }
}
.dots-imgs{
    img{
        height: 80px;
        width: 100px;
        object-fit: cover;
        @media (max-width:$screen-sm) {
            height: 80px;
        }
    }
    .current{
        border: 2px solid $secondary-color;
    }
}
.site-card{
    border: 1px solid #f0ece7; 
    border-radius: 10px;
    margin-bottom: 20px;
    transition: .3s;
    cursor: pointer;
    .header {
        border-bottom: 1px solid #f0ece7;
    }
    h4{
        font-size: 14px;
        font-weight: bold;
    }
    p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .show-more{
        font-size: 10px !important;
    }
    .owner-img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    .report{
        width: 110px;
        justify-content: end;
        a{
            cursor: pointer;
        }
        p{
            font-size: 10px;
            color: gray;
        }
    }
    &:hover{
        background-color: #fffaf5;
    }
    .my-real-estate-data {
        height: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .require{
        p{
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 0 0 10px;
        }
    }
}
.product{
    .product-content {
        cursor: pointer;
        margin-bottom: 20px;
        border: 1px solid whitesmoke;
        border-radius: 10px ;
        transition: .3s;
        > img , > video ,.product-img{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
        }
        .price {
            span{
                color: $main-color;
                font-weight: bold;
            }
        }
        &:hover {
            scale: 1.02;
        }
        h5{
            font-size: 13px;
        }
        p{
            font-size: 10px;
            margin-bottom: 5px;
        }
        span{
            font-weight: bold;
        }
        .account , .price{
            margin-top: 10px;
            // flex-wrap: wrap;
        }
    }
}
.buy-details-btns{
    margin: 20px;
    button{
        width: 110px;
        border: none;
        border-radius: 4px;
        padding: 5px;
        font-size: 13px;
    }
    .accept{
    color: green;
    &:hover{
        color: rgb(0, 83, 0);
    }
    }
    .reject{
        color: darkred;
        &:hover{
            color: red;
        }
    }
}
.shadow-btns {
    box-shadow: 0px -8px 10px rgba(203, 203, 203, 0.1607843137);
    padding:15px 10px;
}
.real-state-details div {
    background-color: #fffaf5;
    padding: 5px;
    border-radius: 5px;
}
.small-btn{
    font-size: 10px;
    padding: 5px;
}
.order-arrow{
    font-size: 8px;
    margin: 0 3px 1px;
    color: $secondary-color;
}
.app-icon{
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
.pdf-icon{
    font-size: 40px;
    color: red;
}

.orders-filter{
    .active{
        border-color: $secondary-color !important;
    }
}

.table-details{
    border-spacing: 0 10px;
    border-collapse: separate;
    th{
        background-color: $main-color;
        color: white;
        padding: 15px;
    }
    td{
        padding: 15px 5px;
        border-top : 2px solid whitesmoke;
        border-bottom : 2px solid whitesmoke;
        text-align: center;
        &:first-child{
            border-right: 2px solid whitesmoke;
            border-radius:0 5px 5px 0;
        }
        &:last-child{
            border-left: 2px solid whitesmoke;
            border-radius:5px 0 0 5px;
        }
    }
}
.table-features{
    max-width: 600px;
    margin: auto;
    th{
        background-color: rgba($secondary-color,.2);
        color: $secondary-color;
        padding: 15px;
    }
    td{
        padding: 15px 5px;
        text-align: center;
        border : 2px solid whitesmoke;
        &:first-child{
            border-radius:0 5px 5px 0;
            border-left: none;
        }
        &:last-child{
            border-right: none;
            border-radius:5px 0 0 5px;
        }
    }
}

.services-types{
    .service{
        background-color: rgba( $secondary-color, .2);
        min-width: 70px;
        padding: 7px;
        margin: 10px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        svg{
            background-color: white;
            border-radius: 50%;
            padding: 1px 3px;
            color: red;
            cursor: pointer;
        }
    }
}

.option{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
.feature-icon{
    width: 50px;
}

.icon-upload{
    .upload-preview{
        border: none;
        width: 60px;
        height: 40px;
        background-color: rgba($secondary-color, .2);
        padding: 5px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        img{
            height: unset;
            width: 22px;
            object-fit: cover;
            border-radius: unset;
        };
    }
}
.pay-rent{
    display: flex;
    padding: 5px 20px;
    background-color: rgba($secondary-color, .2);
    color: $secondary-color;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
    border-radius: 5px;
    margin-top: 30px;
}

.data-table{
    td{
        padding: 15px 5px;
        border-top : 2px solid whitesmoke;
        border-bottom : 2px solid whitesmoke;
        text-align: center;
        &:first-child{
            border-right: 2px solid whitesmoke;
            border-radius:0 5px 5px 0;
        }
        &:last-child{
            border-left: 2px solid whitesmoke;
            border-radius:5px 0 0 5px;
        }
    }
}
.star{
    color: 	#ffe234;
}
.addvertisements{
    .addvertisement{
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        // transition: opacity 0.3s ease;
        img{
            width: 100%;
            object-fit: contain;
        }
        .remove-add{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(black , .7);
            display: none;
            transition: .5s;
            .remove{
                position: absolute;
                background-color: white;
                padding: 10px;
                border-radius: 50%;
                color: red;
                left: 10px;
                top: 10px;
                font-size: 20px;
            }
        }
        &:hover{
            .remove-add{
                display: block;
            }
        }
    }
}
.side-container{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    background-color: rgba(black , .5);
    z-index: 9999;
    transition:all .8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
    .side-details{
        position: absolute;
        left: 0;
        max-width: 650px;
        height: 100%;
        background-color: white;
        padding: 20px;
        svg{
            z-index: 9999;
        }
    }
}
.fees , .quotes{
    justify-content: center;
    .fee , .quote{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        background-color: rgba($secondary-color, .1);
        padding:15px 5px;
        border-radius: 5px;
        margin-bottom: 20px;
        transition: box-shadow .3s ease;
        >div{
            margin: auto;
        }
        &:hover{
            box-shadow: 2px 4px 7px 0px lightgray;
        }
    }
    .fee.edit-fee{
        background-color: $secondary-color;
        color: white;
        button{
            background-color: white;
            color: black;
        }
    }
}
// bell animation
@keyframes bell {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
//loader
@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 10px;
    }
}
//delete-btn
@keyframes delete-btn {
    0%{
        transform: translate(2px);
    }
    50%{
        transform: translate(-2px);
    }
    100%{
        transform: translate(0);
    }
}
@import "media" , "style-ltr";